@model BornToMove.DAL.MoveRating

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MoveRating</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.move.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.move.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.move.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.move.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.move.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.move.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.move.sweatrate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.move.sweatrate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.intensity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.intensity)
        </dd>
    </dl>
</div>

<div>
    @using (Html.BeginForm(FormMethod.Post, new { action = "/Moves/Rate", id = "rate_form" }))
    {
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="rating" class="control-label"></label>
                @Html.TextBoxFor(model => model.rating, new { type = "number", min = "1", max = "10", @class = "form-control" })
            </dt>
            <dt class="col-sm-2">
                <label asp-for="intensity" class="control-label"></label>
                @Html.TextBoxFor(model => model.intensity, new { type = "number", min = "1", max = "10", @class = "form-control" })
            </dt>
        </dl>

        @Html.TextBoxFor(model => model.move.id, new { hidden = "true" })
        @Html.TextBoxFor(model => model.move.name, new { hidden = "true" })
        @Html.TextBoxFor(model => model.move.description, new { hidden = "true" })
        // @Html.TextBoxFor(model => model.move.sweatrate, new { hidden = "true" })

        <input type="submit" value="Rate" class="btn btn-primary" />
    }
</div>

<div>
    <!--<a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |-->
    <a asp-action="Index">Back to List</a>
</div>
