@model IEnumerable<BornToMove.DAL.MoveRating>

@{
    ViewData["Title"] = "Moves";
}

<h1>Moves</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.move.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.move.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.move.sweatrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.move.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.intensity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.move.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.move.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.move.sweatrate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.move.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.intensity)
                </td>
                <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |-->
                    <a asp-action="Details" asp-route-id="@item.move.id">Details</a>
                    <!--<a asp-action="Delete" asp-route-id="@item.move.id">Delete</a>-->
                </td>
            </tr>
        }
    </tbody>
</table>
